<div>
    <form (ngSubmit)="savePlayer()" (reset)="reset()">
      <input type="text" [(ngModel)]="playerName" name="playerName" required autocomplete="off">
      <button type="submit">{{ isEditing ? 'Update Player' : 'Add Player' }}</button>
      <button *ngIf="isEditing" type="reset">Cancel</button>
    </form>
  
    <ul>
      <li *ngFor="let player of players; let i = index">
        {{ player }}
        <button *ngIf="!isEditing" (click)="editPlayer(i)">Edit</button>
      </li>
    </ul>
  </div>
  